:root {
    --color-bg: #e4e4e4;
    --input-box-r: 4px;

}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
}

#canvas {
    width: 100%;
    height: 300px;
    overflow: hidden;
}


input {
    // background-color: lightblue;

    border-radius: var(--input-box-r);
    border: 1px lightgray solid;
    color: gray;
    padding: 8px;
}

input[type=text] {
    height: 2rem;
}

.info {
    display: block;
    font-size: .7rem;
    color: lightcoral;

    &::before {
        content: '* ';
    }
}

.page {
    position: relative;
    margin-bottom: 1rem;
    display: none;

    &.page-active {
        display: block;
    }
}

#nav-btn-container {
    display: flex;
    justify-content: center;
    padding: 0;

    button {
        padding: 4px 8px;
        background-color: rgb(77, 77, 81);
        color: white;
        border: none;
        border-radius: 4px;
        height: 3rem;
        width: 5rem;
    }

    .nav-btn {
        display: none;

        &.btn-show {
            display: flex;
            width: 100%;
            justify-content: space-between;

        }
    }


    #btn-page4 {
        justify-content: center;
    }
}

#nav-dots {
    // background-color: lightgrey;
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin: 2rem;

    .nav-dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: white;
        border: 1px solid lightgray;

        &.dot-active {
            background-color: black;
        }
    }
}

#bg-dots {
    // background-color: lightgrey;
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin: 2rem;

    .bg-dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: white;
        border: 1px solid lightgray;

        &.dot-active {
            background-color: #4d4d51;
        }
    }
}


#contents {
    margin: 0 auto;
    max-width: 798px;


    overflow: hidden;
    padding: 24px;

    section {
        padding: 16px;
        background-color: white;
        // border: 1px solid red;
        margin-bottom: 2rem;
        border-radius: 4px;

        .section-title {
            display: block;
            font-size: 1rem;
            font-weight: 500;
            margin-bottom: 1rem;
            width: 100%;
        }
    }


    #date {


        .slider-section {
            margin-bottom: 1rem;
            // background-color: aqua;
        }

        p {
            // color: blue;
            margin: 0;
        }


    }
}


#place-checkbox-container {
    // background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;

    .place-checkbox {
        width: 50%;
        display: flex;

        justify-content: space-between;

        input[type="checkbox"]:checked+label {
            width: 100%;
            font-weight: bold;
            text-align: right;
            background-color: #f3f9fe;
        }

    }
}

#mail-input {
    // background-color: rebeccapurple;
    display: flex;
    gap: 1rem;

    input {
        width: 20%;

    }

    button {
        height: 50px;
        width: 20%;
        padding: 8px;
        border-radius: var(--input-box-r);
        border: 1px lightgray solid;
        background-color: white;
        text-align: left;

    }

}

#hidden-link {
    cursor: pointer;
    color:#6a88ff;
}

#agree-checkbox-label {
    color: #e3e3e3;

    &.agree-scroll-ok {
        color: black;
    }
}

.modal {
    position: fixed;
    background: yellow;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    z-index: 1;
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);

    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border-radius: var(--input-box-r);
        width: 50%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);


    text-align: center;
    }

    h1{
        font-size: 1.5rem;
    }

    /* The Close Button */
    .close {
        color: #000000;
        font-size: 16px;
        margin-bottom: .5rem;

    }

    #week-table {
        width: fit-content;
        display: inline-block;
        border-collapse: collapse;
        text-align: center;
        margin-bottom: 1rem ;
        tr, td{
            padding: .5rem;
         
            border: 1px #aaaaaa solid;
            // background-color: #aaaaaa;
        }

        .table-r1{
   color: #000000;/*文字色*/
             background: #dddddd;
        }

       

    }



}