@charset "UTF-8";
:root {
  --color-bg: #00AFE4;
  --input-box-r: 4px;
  --colro-btn-main: #ffea74;
  --colro-btn-second: #ffea74;
}

html {
  height: 100%;
}

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#canvas {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.p5Canvas {
  display: none;
}

header {
  height: 6rem;
}

#title-img {
  z-index: 2;
  position: relative;
  bottom: 0px;
  width: 100%;
  text-align: center;
}
#title-img img {
  margin: 2rem;
  max-width: 80%;
  width: 400px;
}

footer {
  background-color: #ffed7a;
  width: 100%;
  bottom: 0;
  height: 5rem;
  display: flex;
  justify-content: end;
  align-items: center;
}
footer div {
  padding: 1rem;
}

#btn-page4 {
  justify-content: center;
}

#nav-dots {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 2rem;
}
#nav-dots .nav-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid lightgray;
}
#nav-dots .nav-dot.dot-active {
  background-color: black;
}

#bg-dots {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 2rem;
}
#bg-dots .bg-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid lightgray;
}
#bg-dots .bg-dot.dot-active {
  background-color: #4d4d51;
}

#contents {
  flex: 1;
  margin: 1rem auto;
  max-width: 798px;
  width: 80vw;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
  padding: 24px;
  border-radius: 1rem;
}
#contents .page {
  flex: 1;
}
#contents section {
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border-bottom: #d3d3d3 1px solid;
}
#contents section .section-title {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  width: 100%;
}
#contents section .section-title::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #ff748b;
}
#contents #date .slider-section {
  margin-bottom: 1rem;
}
#contents #date p {
  margin: 0;
}

#place-checkbox-container {
  display: flex;
  flex-wrap: wrap;
}
#place-checkbox-container .place-checkbox {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
#place-checkbox-container .place-checkbox input[type=checkbox]:checked + label {
  width: 100%;
  font-weight: bold;
  text-align: right;
  background-color: #f3f9fe;
}

#mail-input {
  display: flex;
  gap: 1rem;
}
#mail-input input {
  width: 20%;
}
#mail-input button {
  height: 50px;
  width: 20%;
  padding: 8px;
  border-radius: var(--input-box-r);
  border: 1px lightgray solid;
  background-color: white;
  text-align: left;
}

#hidden-link {
  cursor: pointer;
  color: #6a88ff;
}

#agree-checkbox-label {
  color: #e3e3e3;
}
#agree-checkbox-label.agree-scroll-ok {
  color: black;
}

.modal {
  position: fixed;
  background: yellow;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* The Close Button */
}
.modal .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border-radius: var(--input-box-r);
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.modal h1 {
  font-size: 1.5rem;
}
.modal .close {
  color: #000000;
  font-size: 16px;
  margin-bottom: 0.5rem;
}
.modal #week-table {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 1rem;
}
.modal #week-table tr,
.modal #week-table td {
  padding: 0.5rem;
  border: 1px #aaaaaa solid;
}
.modal #week-table .table-r1 {
  color: #000000;
  /*文字色*/
  background: #dddddd;
}

#map-img {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

#canvas {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

input {
  border-radius: var(--input-box-r);
  border: 1px lightgray solid;
  color: gray;
  padding: 8px;
}

input[type=text] {
  height: 2rem;
}

select {
  height: 2rem;
  padding: 8px;
  border: #aaaaaa 1px solid;
  border-radius: var(--input-box-r);
}

.info {
  display: block;
  font-size: 0.7rem;
  color: lightcoral;
}
.info::before {
  content: "* ";
}

.page {
  position: relative;
  margin-bottom: 1rem;
  margin-top: 1rem;
  display: none;
}
.page.page-active {
  display: block;
}

#page-4.page-active {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#page-4 #over-success {
  display: flex;
  font-size: 1.5rem;
  font-weight: 600;
  color: green;
  gap: 1rem;
  align-items: center;
  margin: 2rem;
  white-space: nowrap;
}
#page-4 #over-success img {
  width: 50px;
  height: 50px;
}
#page-4 #over-dialog-box {
  width: 300px;
  --color-dialog-box: #e7f6ff;
  margin-bottom: 0;
}
#page-4 #over-dialog-box .over-content {
  background-color: var(--color-dialog-box);
  border-radius: 1rem;
  text-align: center;
  padding: 8px;
}
#page-4 #over-dialog-box::after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  bottom: 0;
  width: 0px;
  height: 0px;
  border-top: 10px solid var(--color-dialog-box);
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
}
#page-4 #ticket-img {
  width: 300px;
  transform: translateY(-50px) rotate(30deg);
}

#page-0 {
  background: transparent;
}
#page-0 #page0-intro {
  z-index: 3;
  margin: 0;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0;
  background-color: rgb(255, 255, 136);
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#page-0 #page0-intro p {
  width: 70%;
  text-align: center;
}
#page-0 #page0-intro button {
  background-color: rgb(255, 186, 82);
  color: white;
  width: 100px;
  height: 50px;
  border-radius: 25px;
  border: none;
  box-shadow: 0 1px 2px #eb4c0d;
}
#page-0 #page0-intro #fake-btn-info {
  display: none;
}
#page-0 #page0-intro #fake-btn-info.active {
  display: block;
  margin-top: 10px;
}
#page-0 #page0-map-div {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: yellow;
  overflow: hidden;
}
#page-0 #page0-map-div #map-img {
  height: calc(100vh - 100px);
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#page-0 #tabibito-set {
  z-index: 4;
  position: fixed;
  bottom: 20vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 100px;
}
#page-0 #tabibito-img {
  z-index: 2;
  max-width: 200px;
  width: 40vw;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
#page-0 .dialog-box {
  z-index: 3;
  position: absolute;
  top: -250px;
  left: -40px;
  transform: translate(-50%, -50%);
  width: 300px;
  --color-dialog-box: #ffffff;
  margin-bottom: 0;
  transform: rotate(5deg);
  filter: drop-shadow(0px 0px 4px rgb(45, 157, 255));
}
#page-0 .dialog-box .dialog-content {
  background-color: var(--color-dialog-box);
  border-radius: 1rem;
  text-align: center;
  padding: 8px;
}
#page-0 .dialog-box::after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  bottom: 0;
  width: 0px;
  height: 0px;
  border-top: 10px solid var(--color-dialog-box);
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
}

#nav-btn-container {
  display: flex;
  justify-content: center;
  padding: 0;
}
#nav-btn-container button {
  padding: 4px 16px;
  background-color: white;
  color: #000;
  border: none;
  border-radius: 1.5rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  height: 3rem;
}
#nav-btn-container .nav-btn {
  display: none;
}
#nav-btn-container .nav-btn.btn-show {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#nav-btn-container #btn-page0 {
  display: flex;
  justify-content: center;
}
#nav-btn-container #btn-page4 {
  justify-content: center;
}

#nav-dots {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 2rem;
}
#nav-dots .nav-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid lightgray;
}
#nav-dots .nav-dot.dot-active {
  background-color: black;
}

#bg-dots {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 2rem;
}
#bg-dots .bg-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid lightgray;
}
#bg-dots .bg-dot.dot-active {
  background-color: #4d4d51;
}/*# sourceMappingURL=styles.css.map */